<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOGBACK_LOGLEVEL:-info}">
        <appender-ref ref="${LOGBACK_APPENDER:-CONSOLE}"/>
    </root>

</configuration>
